.tag__list {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 9px;
  padding: 0 10px 10px 10px;
  flex-wrap: wrap;
  .tag__container {
    // width: 59px;
    // height: 19px;
    display: flex;
    justify-content: space-between;
    background-color: #c0effa;
    border-radius: 7px;
  }

  .tag__label {
    font-size: 12px;
    text-align: center;
    padding: 5px 10px;
  }
  .tag__remove {
    padding-right: 5px;
  }
}
