.todolist__container {
  // width: 100%;
  // max-width: 700px;

  .todolist__wrapper {
    display: flex;
    gap: 15px;
    flex-direction: column;
    margin-left: 15px;
  }

  .isRoot {
    padding-top: 19px;
    padding-left: 13px;
    padding-bottom: 71px;
    margin-left: 0px;
  }
}
