#todo-status-select {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  .todo-status__label {
    font-size: 12px;
    cursor: pointer;
  }

  .dropdown__open {
    top: 62px;
    left: -9px;
  }
}
