#todo-status-select {
  display: flex;
  justify-content: center;
  align-items: center;

  .todo-status-select__label {
    font-size: 12px;
    cursor: pointer;
  }

  .todo-status-select__content {
    position: relative;
  }

  #dropdown {
    top: 20px;
    right: 0px;
  }
}
