#add-new {
  .add-new__placeholder {
    color: #808080;
    cursor: pointer;

    @media (min-width: 900px) {
      font-size: 15px;
    }

    &.input {
      padding: 14px 16px;
    }
  }

  .add-new__form {
    display: flex;
  }

  .add-new__button {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
  }
}
