#modal-status-select {
  position: relative;
  .select__wrapper {
    position: relative;
  }

  .select__chevron {
    position: absolute;
    top: 35px;
    right: 12px;
  }

  .dropdown__open {
    left: 0;
    right: 0;
  }
  .dropdown__item {
    padding: 10px 20px;
  }
  .todo-container {
    padding: 13px 16px;
  }
}
