html,
body {
  margin: 0px;
  padding: 0px;
}

* {
  box-sizing: border-box;
}

body {
  padding: 100px 200px;
  background: linear-gradient(135deg, #4badf8, #2c4fcf);
  background-repeat: no-repeat;
  background-size: 100% auto;
  height: 100vh;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wrapper {
  max-width: 700px;
  min-width: 500px;
  justify-items: end;
  width: 100%;
  height: 100%;
}
.wrapper2 {
  width: 100%;
  height: 100%;
}
.group {
  margin-bottom: 15px;
}

.todoList-nested {
  margin-left: 10%;
}
.row-container {
  display: flex;
  margin-bottom: 15px;
  align-items: center;
  width: calc(100% + 26px);
}
.todo-container {
  display: flex;

  border: 1px solid #d5e0e9;
  border-radius: 5px;
  background-color: white;

  width: 100%;
}

.todo-label {
  padding: 10px;
  font-size: 16px;
  width: 100%;
}

.chevron-container {
  padding: 8px 10px;
}

.dropdown-icon {
  padding: 10px 5px;
  position: relative;
}

/* .todo-container-context {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  width: 100%;
}
.todo-container-checked {
  display: flex;
  width: 100%;
  padding: 10px;

  justify-content: space-between;
  border: 1px solid #d5e0e9;
  border-radius: 5px;
  opacity: 70%;
  height: 25px;
}

.todo-container.label {
  width: 400px;
} */
/* .label {
  width: 100%;
  font-size: 19px;

  padding-left: 10px;
  display: inline-block;
} */

/* .add-new {
  margin-top: 10px;
  margin-right: 34px;
  padding: 10px;
  border: 1px solid #d5e0e9;
  border-radius: 5px;
  background-color: white;
  height: 25px;
} */

.add-new-label {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 15px;
  color: grey;
  cursor: pointer;
  padding: 10px;
}

.add-new-input {
  outline: none;
  border: none;
  padding: 10px;
  margin: 0;
  width: 100%;
  font-size: 16px;
}

.btn {
  outline: none;
  border: none;
  background-color: hsl(28, 96%, 55%);
  border-radius: 3px;
  color: white;
  width: 80px;
  margin: 7px;
  cursor: pointer;
}

.btn:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

.checkbox-container {
  padding: 9px;
  align-items: center;
  display: flex;
}

.checkbox {
  border: 1px solid rgb(193, 192, 192);
  border-radius: 3px;
  height: 20px;
  width: 20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.checkbox input {
  display: none;
}
.checkbox:hover {
  border: 2px solid rgb(67, 141, 227);
}

.dropdown-container {
  position: relative;
  padding: 5px;
}
.dropdown-open {
  background-color: white;
  border: 1px solid #e4e3e3;
  border-radius: 5px;
  position: absolute;
  right: 10px;
  z-index: 1;
  box-shadow: rgb(38 57 77) 0px 20px 30px -10px;
}
.dropdown-item {
  cursor: pointer;
  padding: 8px;
  cursor: pointer;
  font-size: 14px;
}

.dropdown-item:last-child {
  border-top: 1px solid #e4e3e3;
}

.add-new-form {
  width: 100%;
  display: flex;
}

/* loaders */

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20%;
  width: 20%;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
